
<%= render 'layouts/navigation' %>

<div class="text-center">
  <h1>Choose room first </h1>
<%= button_to "Click here to choose room", rooms_path, method: :get, class: "btn btn-outline-dark flex-shrink-0"%>
</div>