<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-sm">

  <form>

    <!-- Name input -->
    <div class="form-outline mb-4">

      <label class="form-label" for="form4Example1">Name</label>
      <input type="text" id="form4Example1" class="form-control" name="review[author_name]" />
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form4Example2">Email address</label>
      <input type="email" id="form4Example2" class="form-control"name="review[author_email]" />
    </div>

    <!-- Message input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form4Example3">Text of the review</label>
      <textarea class="form-control" id="form4Example3" rows="4"name="review[body]"></textarea>
    </div>


    <!-- Submit button -->
    <button type="submit" class="btn btn-outline-success btn-block mb-4">Submit</button>

  </form>
  <div>
<% end %>