    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <%= link_to "Hotel Grand Budapest", admin_dashboard_path, class: "navbar-brand", id: "logo" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link" href="/admin/rooms">List of rooms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/rooms/new">Add new room</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/reviews">Reviews</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/admin/bookings">List of bookings</a>
            </li>
          </ul>
          <ul class="nav justify-content-end">
            <% if admin_signed_in? %>
              <li class="nav-item">
                <a class="text-success">Hello, admin | <%= link_to "Log out", destroy_admin_session_path, data: {"turbo-method": :delete } %></a>
            <% else %>
              <%= link_to "Sign in", new_admin_session_path %>
            <% end %>
            </li>
          </ul>

        </div>
      </div>
    </nav>

